.pitka-bp .field {
  margin-bottom: 1rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1.5rem auto);
}

.pitka-bp .field input,
.pitka-bp .field select,
.pitka-bp .field textarea {
  padding: 0.75rem;
  width: 100%;
}

.pitka-bp .field input[type=date] {
  text-align: center;
}